*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
:root{
    --font: hsla(0,0%,100%,.7);
    --font-inactivate: rgb(131,148,150);
    --hover: rgb(50,53,59);
    --main: rgb(54,57,63);
    --top: rgb(32,34,37);
    --frog: rgb(46,204,113);
}
/* ^ to ma byc */
/* navbar */
nav {
    padding: 20px 20px;
    background: var(--top);
}
.icons i {
    padding: 0 15px;
    color: var(--font);
}
.icons i:hover, .fa-chevron-down:hover{
    color: white;
    transition: all 0.8s ease;
}
.user-img-wrapper {
    text-align: center;
}
.fa-chevron-down{
    color: var(--font);
}
.user-link{
    font-size: 14px;
    text-decoration: none;
    color: var(--font);
}
/* main */
.left-sidebar, .right-sidebar{
    min-width: 13%;
    min-height: 200px;
    background: var(--hover);
}
.left-sidebar-content{
    padding: 10px 10px;
}
.left-sidebar-content p, a{
    text-decoration: none;
    padding: 10px 0;
    color: var(--font);
}
.main{
    width: 74%;
}
main {
    display: flex;
    background: var(--main);
}
.card {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.card:hover{
    background-color: var(--hover);
}
.card-user{
    font-size: 15px;
    color: var(--frog);
    text-transform: uppercase;
}
.card-content{
    color: var(--font);
    padding: 10px 10px;
}
#dodaj{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: none;
    outline: none;
}
@media only screen and (max-width: 992px){

}
@media only screen and (max-width: 768px){
}
@media only screen and (max-width: 576px){
    
}